@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";


@theme {
  --color-text-main: #0F0E0E;
  --color-accent: #65FF93;
  --font-sans: "DM Sans"
}
